Repository AY2324S2-CS2103T-F13-1/tp, pull requests merged in 2024-04, with the labels that each got.

#124 feat: Update help window
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/java/seedu/address/ui/HelpWindowCommandCard.java
  src/main/java/seedu/address/ui/ResultDisplay.java
  src/main/java/seedu/address/ui/util/SyntaxHighlighter.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/Extensions.css
  src/main/resources/view/HelpWindow.css
  src/main/resources/view/HelpWindow.fxml
  src/main/resources/view/HelpWindowCommandCard.css
  src/main/resources/view/HelpWindowCommandCard.fxml
  src/main/resources/view/ResultDisplay.fxml
  src/test/java/seedu/address/ui/util/SyntaxHighlighterTest.java
Labels: feat, priority.medium, type.ui, size.medium

#129 Modify behaviour of delstu such that it includes prefix
  src/main/java/seedu/address/Main.java
  src/main/java/seedu/address/logic/commands/DeletePersonCommand.java
  src/main/java/seedu/address/logic/commands/util/ParameterSyntax.java
  src/main/java/seedu/address/logic/parser/DeletePersonCommandParser.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
  src/test/java/seedu/address/logic/parser/DeleteCommandParserTest.java
Labels: priority.medium, suggestion, size.small

#109 style: refactor autocomplete command initialization
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteCommand.java
  src/main/java/seedu/address/logic/commands/util/CommandWordUtil.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteCommandTest.java
Labels: priority.low, style, size.small

#128 style: improve addstu error message
  src/main/java/seedu/address/logic/commands/AddPersonCommand.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
Labels: feat, priority.medium, type.class, style, size.small

#122 fix: Result messages
  src/main/java/seedu/address/commons/util/StringUtil.java
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/AddPersonCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/DeletePersonCommand.java
  src/main/java/seedu/address/logic/commands/EditPersonCommand.java
  src/main/java/seedu/address/logic/commands/FindPersonCommand.java
  src/main/java/seedu/address/logic/commands/MarkAttendanceCommand.java
  src/main/java/seedu/address/logic/commands/SetCourseCommand.java
  src/main/java/seedu/address/logic/commands/UnmarkAttendanceCommand.java
  src/main/java/seedu/address/logic/commands/util/CommandMessageUsageUtil.java
  src/main/java/seedu/address/logic/commands/util/Parameter.java
  src/main/java/seedu/address/logic/commands/util/ParameterSyntax.java
  src/main/java/seedu/address/logic/parser/SetCourseCommandParser.java
  src/test/java/seedu/address/commons/util/StringUtilTest.java
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/MarkAttendanceCommandTest.java
  src/test/java/seedu/address/logic/commands/UnmarkAttendanceCommandTest.java
  src/test/java/seedu/address/logic/commands/util/CommandMessageUsageUtilTest.java
  src/test/java/seedu/address/logic/commands/util/ParameterTest.java
  src/test/java/seedu/address/ui/util/SyntaxHighlighterTest.java
Labels: priority.high, fix, type.ui, size.medium

#131 feat: Autocomplete result TAB scrolling
  src/main/java/seedu/address/commons/util/Trie.java
  src/main/java/seedu/address/logic/Logic.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/autocomplete/AutoComplete.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteCommand.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteNusNetId.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteResult.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/ui/CommandBox.java
  src/main/java/seedu/address/ui/MainWindow.java
  src/test/java/seedu/address/commons/util/TrieTest.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteCommandTest.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteNusNetIdTest.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteResultTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
Labels: feat, size.medium

#137 chore: Update version to v1.3
  src/main/java/seedu/address/MainApp.java
Labels: chore, size.small

#136 fix: Add Clear into help window
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/ui/HelpWindow.java
Labels: fix, type.ui, size.small

#82 Branch setcrs testing
  src/main/java/seedu/address/Main.java
  src/main/java/seedu/address/logic/commands/exceptions/InappropriateMethodCallAssertionError.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/model/ModelManager.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
  src/test/java/seedu/address/logic/parser/SetCourseCommandParserTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/model/util/SampleDataUtilTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
Labels: test, priority.high, size.medium

#134 docs: Update UG and README
  README.md
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/helpWindow.png
  docs/images/help_window_ui.png
  docs/images/main_window_ui.png
  docs/index.md
  docs/stylesheets/main.css
Labels: docs, size.medium

#130 127 edit person by nusnet id instead
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/_markbind/layouts/default.md
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/EditPersonCommand.java
  src/main/java/seedu/address/logic/parser/EditPersonCommandParser.java
Labels: bug, docs, priority.low, fix, size.small

#143 fix: update nusnet id initialization to uppercase
  src/main/java/seedu/address/model/person/NusNet.java
  src/test/java/seedu/address/logic/commands/MarkAttendanceCommandTest.java
  src/test/java/seedu/address/logic/commands/UnmarkAttendanceCommandTest.java
  src/test/java/seedu/address/model/person/NusNetTest.java
Labels: priority.high, type.class, style, size.small

#147 Name Autocorrect
  src/main/java/seedu/address/model/person/Name.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/model/person/NameTest.java
Labels: priority.high, fix, size.small

#152 Wrap up v1.3.1
  docs/DeveloperGuide.md
  docs/UserGuide.md
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteEmail.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteMajor.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteName.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteNusNetId.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompletePhone.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteTag.java
  src/main/java/seedu/address/logic/commands/SetCourseCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/model/person/Email.java
  src/main/java/seedu/address/model/person/Name.java
Labels: priority.high, fix, size.medium

#223 docs: update reuse declaration format
  src/main/java/seedu/address/commons/util/Trie.java
Labels: docs, priority.high, size.small

#227 docs: Fix missing commands in command summary
  docs/UserGuide.md
Labels: docs, size.small

#230 docs: Remove brackets from addstu example command
  docs/UserGuide.md
Labels: docs, size.small

#229 docs: Fix commands for deleting
  docs/UserGuide.md
Labels: docs, size.small, type.ug

#250 Remove apostrophe from attendance label
  src/main/resources/view/PersonListCard.fxml
Labels: priority.medium, fix, size.small

#225 refactor: Improve autocomplete code quality
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/attribute/AttributeTrie.java
  src/main/java/seedu/address/logic/attribute/AttributeValueGenerator.java
  src/main/java/seedu/address/logic/attribute/AttributeValueGeneratorManager.java
  src/main/java/seedu/address/logic/attribute/PrefixResolver.java
  src/main/java/seedu/address/logic/attribute/PrefixResolverSyntax.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteEmail.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteMajor.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteName.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteNusNetId.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompletePhone.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompletePrefixResolver.java
  src/main/java/seedu/address/logic/autocomplete/AutoCompleteTag.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/test/java/seedu/address/logic/attribute/AttributeValueGeneratorManagerTest.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompleteNusNetIdTest.java
  src/test/java/seedu/address/logic/autocomplete/AutoCompletePrefixResolverTest.java
  src/test/java/seedu/address/logic/parser/AddressBookParserTest.java
Labels: priority.high, fix, size.large, refactor

#232 docs: Changes the address prefix and example to major
  docs/UserGuide.md
  docs/images/findAlexDavidResult.png
  docs/images/help_window_ui.png
  docs/images/main_window_ui.png
Labels: docs, size.small, type.ug

#234 docs: update user guide and make find command docs consistent
  docs/UserGuide.md
Labels: docs, priority.medium, size.small, type.ug

#262 docs: Add icons for each heading
  docs/UserGuide.md
Labels: docs, suggestion, size.small, type.ug

#254 docs: update user guide and make find command docs consistent
  docs/UserGuide.md
Labels: docs, priority.medium, size.small, type.ug

#267 Fix typo in Unmark message
  src/main/java/seedu/address/logic/commands/UnmarkAttendanceCommand.java
Labels: docs, priority.medium, size.small, type.ug

#268 Fix example of addstu that used `add` instead of `addstu`
  docs/UserGuide.md
Labels: docs, priority.medium, size.small, type.ug

#261 docs: Autocomplete
  docs/UserGuide.md
  docs/_markbind/_macros.nj
Labels: docs, size.small, type.ug

#233 style: code quality logic manager
  src/main/java/seedu/address/logic/LogicManager.java
  src/main/java/seedu/address/logic/commands/AddPersonCommand.java
  src/main/java/seedu/address/logic/commands/ClearCommand.java
  src/main/java/seedu/address/logic/commands/Command.java
  src/main/java/seedu/address/logic/commands/DeletePersonCommand.java
  src/main/java/seedu/address/logic/commands/EditPersonCommand.java
  src/main/java/seedu/address/logic/commands/MarkAttendanceCommand.java
  src/main/java/seedu/address/logic/commands/SetCourseCommand.java
  src/main/java/seedu/address/logic/commands/UnmarkAttendanceCommand.java
  src/test/java/seedu/address/logic/commands/CommandTest.java
Labels: style, size.medium, refactor

#272 docs: improve addstu command user guide documentation
  docs/UserGuide.md
Labels: docs, priority.high, size.small, type.ug

#264 Uplift user guide with logo, tone and new sections
  docs/UserGuide.md
  docs/images/TAProLogo.jpg
Labels: docs, priority.medium, size.small, type.ug

#271 Add FAQ questions and answers
  docs/UserGuide.md
Labels: chore, docs, priority.medium, size.small, type.ug

#270 Update command history docs
  docs/UserGuide.md
Labels: docs, priority.medium, size.small, type.ug

#273 Update eXXXXXXX to EXXXXXXXX and change Address to Major mentions
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/diagrams/BetterModelClassDiagram.puml
  docs/diagrams/DeleteSequenceDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/UndoRedoState1.puml
Labels: docs, size.small, type.dg

#277 Fix toggle window command for mac users
  docs/UserGuide.md
Labels: docs, size.small

#276 Improved attendance display on result screen
  src/main/java/seedu/address/logic/Messages.java
  src/main/java/seedu/address/logic/commands/EditPersonCommand.java
  src/main/java/seedu/address/model/weeknumber/WeekNumber.java
Labels: priority.medium, type.ui, size.small

#258 Update UG and tests
  docs/UserGuide.md
  src/main/java/seedu/address/logic/commands/SetCourseCommand.java
  src/main/java/seedu/address/model/person/Name.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/model/person/NameTest.java
  src/test/java/seedu/address/testutil/InappropriateMethodCallAssertionError.java
Labels: test, docs, size.small, type.ug

#275 docs: improve ug with FAQ and update keywords
  docs/UserGuide.md
Labels: docs, priority.high, size.small, type.ug

#278 Fix autocomplete tab issue
  src/main/java/seedu/address/ui/CommandBox.java
Labels: fix, size.small

#280 docs: Add find info
  docs/UserGuide.md
Labels: docs, size.small, type.ug

#287 Change some tips to infos and rearranged boxes
  docs/UserGuide.md
Labels: docs, priority.low, type.ug

#279 docs: Add example for recognized prefix
  docs/UserGuide.md
Labels: fix, size.small, type.ug

#281 docs: Add known issue on invalid format no message
  docs/UserGuide.md
Labels: docs, size.small, type.ug

#285 docs: Add design decisions
  docs/DeveloperGuide.md
Labels: size.small, type.dg

#290 docs: update addstu command summary
  docs/UserGuide.md
Labels: docs, size.small, type.ug

#291 docs: Improve UG
  docs/UserGuide.md
  docs/_markbind/_macros.nj
  docs/_markbind/variables.md
Labels: priority.high, size.medium, type.ug

#289 docs: update dg use cases
  docs/DeveloperGuide.md
Labels: docs, priority.high, size.small, type.dg

#292 Add PUML Implementation Diagram for Command History
  docs/DeveloperGuide.md
  docs/diagrams/CommandHistorySequenceDiagram.puml
Labels: docs, size.small, type.dg

#296 docs: PPP stuff
  docs/AboutUs.md
  docs/images/Ui.png
  docs/team/anant1902.md
  docs/team/belligerentbeagle.md
  docs/team/foraeons.md
  docs/team/saiutkarsh33.md
  docs/team/titus.md
  docs/team/tituschewxj.md
Labels: docs, size.small

#297 docs: Improve UG
  docs/UserGuide.md
Labels: size.medium, type.ug

#295 docs: Add planned-enhancements
  docs/DeveloperGuide.md
Labels: priority.high, size.small, type.dg

#298 docs: Fix CommandHistoryDiagramColor
  docs/diagrams/CommandHistorySequenceDiagram.puml
Labels: type.dg

#293 Ug labelled screenshots
  docs/UserGuide.md
  docs/images/ug-screenshots/addstu_after.png
  docs/images/ug-screenshots/addstu_before.png
  docs/images/ug-screenshots/clear_after.png
  docs/images/ug-screenshots/clear_before.png
  docs/images/ug-screenshots/delstu_after.png
  docs/images/ug-screenshots/delstu_before.png
  docs/images/ug-screenshots/exit_before.png
  docs/images/ug-screenshots/find_after.png
  docs/images/ug-screenshots/find_before.png
  docs/images/ug-screenshots/help.png
  docs/images/ug-screenshots/launch.png
  docs/images/ug-screenshots/list_after.png
  docs/images/ug-screenshots/list_before.png
  docs/images/ug-screenshots/mark_after.png
  docs/images/ug-screenshots/mark_before.png
  docs/images/ug-screenshots/setcrs_after.png
  docs/images/ug-screenshots/setcrs_before.png
  docs/images/ug-screenshots/unmark_after.png
  docs/images/ug-screenshots/unmark_before.png
Labels: docs

#301 Update manual test cases for find, clear, and help command
  docs/DeveloperGuide.md
Labels: docs, size.small, type.dg

#302 Update manual test cases for edit, unmark, and command toggle
  docs/DeveloperGuide.md
Labels: docs, size.small, type.dg

#306 docs: Add note for empty tag
  docs/UserGuide.md
Labels: size.small, type.ug

#305 refactor: Fix long line in HelpWindow.java
  src/main/java/seedu/address/ui/HelpWindow.java
  src/main/java/seedu/address/ui/HelpWindowCommandCard.java
Labels: size.small, refactor

#304 docs: Add name restriction note
  docs/UserGuide.md
Labels: size.small, type.ug

#300 docs: Update autocomplete diagrams
  docs/DeveloperGuide.md
  docs/diagrams/AutoCompleteEmptyConstructorSequenceDiagram.puml
  docs/diagrams/AutoCompletePrefixResolverSequenceDiagram.puml
  docs/diagrams/AutocompleteClassDiagram.puml
  docs/diagrams/AutocompleteFindTrieMatchesSequenceDiagram.puml
  docs/diagrams/AutocompleteKeySequenceDiagram.puml
  docs/diagrams/AutocompleteParseSequenceDiagram.puml
  docs/diagrams/AutocompleteUpdateSequenceDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
Labels: size.medium, type.dg

#309 Improve UG
  docs/UserGuide.md
Labels: docs, size.small, type.ug

#308 Improve Command History implementation
  docs/DeveloperGuide.md
  docs/diagrams/CommandHistoryActivityDiagram.puml
Labels: docs, size.small, type.dg

#313 docs: Fix setcrs UG
  docs/UserGuide.md
Labels: type.ug

#314 docs: Improve DG
  docs/DeveloperGuide.md
Labels: type.dg

#315 docs: Reorder FAQ
  docs/UserGuide.md
Labels: type.ug

#310 docs: add screenshots to user guide
  docs/UserGuide.md
  docs/images/help_window_ui.png
  docs/images/main_window_ui.png
  docs/images/ug-screenshots/edit_after.png
  docs/images/ug-screenshots/edit_before.png
  docs/stylesheets/main.css
Labels: docs, priority.high, size.medium, type.ug

#320 Setcrs desc ug
  docs/UserGuide.md
Labels: docs

#330 chore: Update version number to v1.4
  src/main/java/seedu/address/MainApp.java
Labels: chore
